@import "../main/fonts";

.sell-page {
  background-color: #f3fafe;
}

.main-sell {
  min-width: 100vw;
  min-height: 100vh;
  background-image: image_url("sellBg1.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.sell-background {
  display: block;
  visibility: hidden;
  height: auto;
  width: 100vw;
  position: absolute;
  z-index: -2;
}

.sell-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;

  >h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    margin: 20px;
    text-shadow: -2px 1px 0 white, 2px 1px 0 white, 2px -1px 0 white,
      -2px -1px 0 white;
  }

  >h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 400;
    margin: 20px;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
      -1px -1px 0 white;
  }

  top: 20%;
  color: black;
  font-weight: bolder;
  position: relative;
}

@keyframes transitioningBackground {
  0% {
    background-position: 1% 0%;
  }

  50% {
    background-position: 99% 100%;
  }

  100% {
    background-position: 1% 0%;
  }
}

.add-house {
  animation: transitioningBackground 10s ease infinite;
  margin: 20px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: 400;
  border-radius: 5px;
  background-color: #006aff;
  box-shadow: 0px 4px 12px #d0c9c9;
  transition: 1s;

  &:hover {
    box-shadow: -8px 10px 8px #d0c9c9;
    transition: 0.2s;
  }
}

.logged-in {
  background-color: #ffd235;

  &:hover {
    // box-shadow: 4px -4px 12px #ffdc69;
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.dropzone-container {
  margin: 0 20px;
}

.house-sell-form-container {
  display: flex;
  justify-content: center;
}

.lat-lng-text {
  margin: 2px;
}

.dropzone-container {
  height: 100vh;
  width: 40%;
}

.house-sell-input-container {
  margin: 0 35px;
  width: 40%;
  font-size: xx-large;

  >form {
    display: flex;
    flex-direction: column;
    margin: 20px;

    input[type="text"] {
      width: 100%;
      border: 1px solid rgb(216, 213, 213);
      font-size: large;
      border-radius: 3px;
      background-color: rgba(246, 246, 246, 0.948);
      padding: 13px 0px 13px 10px;
      display: flex;
      align-items: center;

      &:hover {
        border: 1px solid #006aff;
      }

      margin-bottom: 20px;
      margin-right: 10px;
    }

    .largefield {
      width: 100%;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: medium;
      margin: 10px;

    }

        textarea {
          resize: none;
        }

    #sell-form-input {
      display: flex;
      justify-content: center;
      font-size: large;
    }

    textarea {
      width: auto;
      height: 21vh;
      border: 0.7px solid rgb(216, 213, 213);
      border-radius: 3px;
      background-color: rgba(246, 246, 246, 0.948);
      margin-bottom: 20px;
      padding: 20px;
      font-size: medium;
    }

    .form-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      >div {
        width: 40%;
      }
    }


  }
}

.dropzone-container {
  >h1 {
    text-align: center;
    line-height: 200px;
    color: #006aff;
  }
}

.dropzone {
  :hover {
    text-shadow: 0 0 20px #009dff;
  }
}

.dropzone {
  >div {
    max-height: 35vh;
  }

}


.miniphoto {
  height:inherit;
  width: auto;
}

.dropdown-icon-area {
  padding: 10%;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  >i{
      animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -o-animation: bounce 2s infinite;
  }
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-30px);
  }

  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.geo-coding-container {
  border: 2px solid rgb(216, 213, 213);
  background-color: rgba(246, 246, 246, 0.948);
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;

  >h1 {
    margin: 20px;
    justify-content: center;
    font-size: medium;
    display: flex;
    text-align: center;
    font-size: larger
  }
}

.rent-sell-container {
  display: flex;
  justify-content: space-evenly;

  >div {
    padding: 0 3%;

    >label {
      cursor: pointer;
    }
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    display: flex;
    padding: 10px 30px;
    border: 4px solid rgba(246, 246, 246, 0.948);
    border-radius: 5px;
    width: 60px;
    text-align: center;
    transition: 0.8s;

  }

  :hover {
    border-color: #fdcf33;
    color: #006aff;
    transition: 0.2s;
  }

  input[type="radio"]:checked+label {
    background-color: rgb(187, 231, 255);
    border-color: #006aff;
  }
}

.lat-lng-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: large;

  #lat,
  #long {
    border: solid black 1px;
    border-radius: 3px;
    padding: 2px;
    background-color: rgba(246, 246, 246, 0.948);
    border: 0.7px solid #d8d5d5;
  }
}


#isRent-text {
  text-align: center;
  width: 100%;
  margin: 10px;
}

#post-house-btn {
  font-family: 'Satisfy', cursive;
  width: auto;
  border: 1px solid rgb(216, 213, 213);
  color: white;
  box-shadow: 0.5px 0.5px 5px 1px rgb(255, 255, 255);
  border-radius: 6px;
  background: #014a82;
  font-size: xx-large;
  font-weight: 600;
  padding: 4px 12px;
  text-align: center;
  align-self: center;
  transition: 1s;

  &:hover {
    color: rgb(19, 110, 251);
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 0.5px 0.5px 5px 1px #fad047;
    background: radial-gradient(circle, rgb(219, 73, 0) 0%, rgba(255, 252, 0, 1) 0%, rgba(253, 207, 51, 0.957) 100%);
  }
}

#geocoding-map-container {
  width: 100%;
  height: 28vw;
}

#pin {
  width: auto;
  height: inherit;
}

.sell-background {
  width: 100vw;
  height: 100vh;
}